:root {
    --dark-bg: #003049;
    --contrast-alt: #c1121f;
    --link: #8bbbd8;
    --accent: #fdf0d5;
    --block-bg: #ffffff;
    --font-color: #000000;
    --green: #2ecc71;
    --padding-left: 35px;
    --report-max-width: 1200px;
  }

/* ======================
   Base Elements
====================== */

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    color: var(--contrast-alt);
}

html, body{
    min-height: 100vh;
    height: auto;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a, h2, h3, th, .grid_button, .current, .dt-paging-button, .form_button{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xx-large;
    color: var(--block-bg);
    font-family: "Audiowide", serif;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: x-large;
}

h4 {
    margin: 0px;
    font-family: "Montserrat", serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    padding: 15px;
}

li {
    padding: 7px;
}

p, td, label, select .dt-info, .player_first_name_report, .player_last_name_report {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}

label {
    color: var(--block-bg);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

p, a {
    font-size: medium;
}

select {
    border: 2px solid var(--dark-bg);
    border-radius: 3px;
    margin: 5px;
    font-family: "Montserrat", serif;
    background-color: var(--block-bg);
    font-weight: 600;
    text-align: center;
    padding: 5px;
}
table, th, td, tr {
    border: 0;
}

td, th {
    font-size: small;
    padding: 4px;
    color: var(--font-color);
}

th {
    text-align: left;
    font-size: large;
    color: var(--dark-bg);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0; 
    display: flex;
    flex-direction: column;
}

/* ======================
   Generic
====================== */

/* ======================
   Alignment
====================== */
.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.flex-all-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-vert-center-hori-left {
    justify-content: left;
    align-items: center;
    align-content: center;

}

/* ======================
   Colors
====================== */

.dark-background {
    background-color: var(--dark-bg);
}

/* ======================
   Padding/Margin
====================== */

.no-padding-no-margin {
    margin: 0;
    padding: 0;
}

.moderate-margin {
    margin: 10px;
}

.large-margin {
    margin: 20px;
}

.x-small-padding {
    padding: 1.5px;
}

.small-padding {
    padding: 5px;
}

.moderate-padding {
    padding: 10px;
}

.large_padding {
    padding: 20px;
}

/* ======================
   Tables
====================== */
.row-border td {
    border-bottom: 2px solid #ccc;
}

/* ======================
   Text
====================== */
.text-small {
    font-size: small;
}

.text-medium {
    font-size: medium;
}

.text-large {
    font-size: large;
}

.text-xxlarge {
    font-size: xx-large;
}

.text-huge {
    font-size: 76px;
}

.white-text {
    color: var(--block-bg);
}

.text-audiowide {
    font-family: "Audiowide", serif;
}

 /* ======================
   IDs
====================== */

/* ======================
   Classes
====================== */

.report {
    max-width: var(--report-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.static-stat-cell {
    width: 200px;
}

#all-content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#block-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--block-bg);
    flex-wrap: wrap;
    justify-content: center;
}

#index_container {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

#index_header {
    color: var(--dark-bg);
    font-size: 60px;
    margin: 20px;
}

#nav_form_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#player_report_warning {
    text-align: center;
    background-color: var(--dark-bg);
    color: white;
}

#site_description, #player_report_warning {
    border: 2px solid var(--dark-bg);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

#title, #block-content {
    padding-left: var(--padding-left);
    padding-right: var(--padding-left);
}

#season_select_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
}

#season_year {
    background-color: var(--dark-bg);
    color: var(--block-bg);
    border-color: white;
    border: 1px solid;
    border-radius: 3px;
    width: auto;
    padding: 3px;
    margin-top: 15px;
    text-align: center;

    appearance: none; /* Removes default browser styling */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.label_small {
    font-size: 12px;
    text-align: center;
}

.footer-text {
    font-size: small;
}

.grid_button {
    background-color: var(--white);
    border: 0;
    color: var(--dark-bg);
    cursor: pointer;
}

.grid_button_light {
    background-color: var(--white);
    border: 0;
    color: var(--link);
    cursor: pointer;
}

.grid_button:hover, .grid_button_light:hover{
    color: var(--contrast-alt);
}

.hidden {
    display: none !important;
}

.icon {
    height: 15px;
    width: auto;
    align-self: center;
}

.index-metric-heading {
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    color: var(--dark-bg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.index-metric {
    border-radius: 15px;
    border: solid;
    border-width: 3px;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: var(--block-bg);
    width: 300px;
}

.notation{
    text-align: center;
    font-weight: 300;
    font-size: small;
}

.player_first_name {
    font-size: small;
}

.player_last_name, .right-table {
    font-size: large;
}

.name-table{
    padding-left: 20px;
    padding-right: 20px;
}

.right-table, .right-table-standings {
    text-align: right;
}

.stat {
    text-align: center !important;
}

.special-stat {
    margin: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.special-stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stat-table-container {
    display: flex;
    flex-direction: column;
}

.stat-icon {
    padding: 15px;
}

.stat_label {
    font-weight: 600;
}

.team_logo {
    height: 150px;
    width: auto;
}

.team-icon {
    height: 40px;
    width: auto;
}

.team-icon-medium {
    height: 60px;
    width: auto;
    margin: 15px;
}

#team_logo_contianer {
    text-align: center;
}

/* DATA TABLE STLYING */
/* .dt-length, .dt-layout-cell {
    color: var(--accent) !important;
}

.dt-paging-button {
    color: var(--link) !important;
}
*/

.current {
    background: transparent !important;
    border: 1px solid var(--link) !important;
    color: var(--dark-bg);
}

.current:hover, .dt-paging-button:hover {
    background: var(--contrast-alt) !important;
}

/* PLAYER CARD STYLING */
.name_report{
    font-size: 36px;
    color: var(--font-color);
}

.report_outer_container, .teams_container, .compare_teams_outer_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.player_report {
    display: flex;
    flex-direction: column;
    width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.report_name_subheader{
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: large;
}

.report_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.report_name_container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.player_stat_cell{
    text-align: center;
}

.stats_table{
    table-layout: auto;
    width: 100%;
    border: 2px solid var(--dark-bg);
    border-radius: 7px;
    border-collapse: separate;
    border-spacing: 0;
}

.report_stats_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    width: 700px;
}

.player_report_stats_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_scouting_report {
    margin-top: 40px;
}

.stat_block {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 140px;
    height: 140px;
}

.stat_text {
    font-family: "Montserrat", serif;
    margin: 0px;
}

.above_avg, .advantage  {
    background-color: var(--dark-bg);
    color: white;
}

.below_avg, .disadvantage {
    background-color: var(--contrast-alt);
    color: white;
}

/* Game Card Styling */

#game_report_outer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#game_report {
    display: flex;
    flex-direction: column;
    width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.game_report_team_logo{
    margin: 30px;
}

.game_report_score {
    font-weight: bolder;
    font-size: 36px;
}

.game_report_cell {
    text-align: center;
}

.game_stat {
    font-weight: bolder;
}

/* Teams Styling */
.form_button {
    background-color: var(--white);
    border: 3px solid var(--dark-bg);
    border-radius: 5px;
    color: var(--dark-bg);
    cursor: pointer;
    padding: 6px;

}

.form_button:hover {
    background-color: var(--dark-bg);
    color: var(--block-bg);
}

.stat_block_team_comparison {
    text-align: center;
    padding: 8px;
}

.team_comparison_select {
    display: flex;
    flex-direction: row;
}

.teams_container {
    flex-direction: column;
    justify-content: flex-start;
}

.team_logo_comparison {
    height: auto;
    width: 150px;
    margin: 15px;
}

#teams {
    width: 100% !important;
}

#team_comparison_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

#team_comparison_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
