:root {
    --primary-dark: #36213E;
    --secondary-light: #B8F3FF;
    --secondary-medium: #8AC6D0;
    --gray: #E2E9EB;
    --padding-left: 35px;
  }

a {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-light);
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a, h1, h2, h3, th {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    padding: 15px;
}

li {
    padding: 7px;
}

p, td, label, select .dt-info {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

p, a {
    font-size: medium;
}

td {
    font-size: small;
}

th {
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0; 
    display: flex;
    flex-direction: column;
}

#all-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#block-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--gray);
}

#menu-icon {
    height: 175px;
    width: 124px;
    align-self: center;
}

#title, #block-content {
    padding-left: var(--padding-left);
}

.footer-text {
    font-size: small;
}

.index-metric-heading {
    margin-bottom: 15px;
}

.index-metric {
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-metric-tall {
    background-color: white;
    height: 400px;
}

.index-metric-normal {
    background-color: var(--secondary-medium);
    height: 200px;
}

.nav-link {
    color: white;
}