<table class="border-collapse width-100">
  <thead>
    <tr class="border-1">
      <th class="border-1">Abbr</th><th class="border-1">Meaning</th>
      <th class="border-1">Abbr</th><th class="border-1">Meaning</th>
      <th class="border-1">Abbr</th><th class="border-1">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">G</td>     <td>Goals</td>
      <td class="border-1 text-weight-bolder">A</td>     <td>Assists</td>
      <td class="border-1 text-weight-bolder">xG</td>    <td>Expected Goals</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">xA</td>    <td>Expected Assists</td>
      <td class="border-1 text-weight-bolder">NPxG</td>  <td>Non-Penalty xG</td>
      <td class="border-1 text-weight-bolder">G-xG</td>  <td>Goals minus xG</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">G/xG</td>  <td>Goals per xG</td>
      <td class="border-1 text-weight-bolder">SOT</td>   <td>Shots on Target</td>
      <td class="border-1 text-weight-bolder">SH</td>    <td>Shots</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">CS</td>    <td>Clean Sheets</td>
      <td class="border-1 text-weight-bolder">GA</td>    <td>Goals Against</td>
      <td class="border-1 text-weight-bolder">xGA</td>   <td>Expected Goals Against</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">INT</td>   <td>Interceptions</td>
      <td class="border-1 text-weight-bolder">T</td>     <td>Tackles</td>
      <td class="border-1 text-weight-bolder">CT</td>    <td>Clearances</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">FC</td>    <td>Fouls Committed</td>
      <td class="border-1 text-weight-bolder">FS</td>    <td>Fouls Suffered</td>
      <td class="border-1 text-weight-bolder">DRB</td>   <td>Dribbles Attempted</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">MIN</td>   <td>Minutes Played</td>
      <td class="border-1 text-weight-bolder">KP</td>    <td>Key Passes</td>
      <td class="border-1 text-weight-bolder">APP</td>   <td>Appearances</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">PK</td>    <td>Penalty Goals</td>
      <td class="border-1 text-weight-bolder">PKA</td>   <td>Penalty Attempts</td>
      <td class="border-1 text-weight-bolder">OG</td>    <td>Own Goals</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">SAV%</td>  <td>Save Percentage</td>
      <td class="border-1 text-weight-bolder">PSxG</td>  <td>Post-Shot xG</td>
      <td class="border-1 text-weight-bolder">TO</td>    <td>Turnovers</td>
    </tr>
    <tr class="border-1">
      <td class="border-1 text-weight-bolder">R</td>     <td>Red Cards</td>
      <td class="border-1 text-weight-bolder">Y</td>     <td>Yellow Cards</td>
      <td class="border-1 text-weight-bolder">PTS</td>   <td>Points</td>
    </tr>
  </tbody>
</table>

