<!DOCTYPE html>
<html lang="en">
<head>
    <title>NWSL Insights</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A generic HTML template">
    <meta name="author" content="Brian Breeden">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data_table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <section id="all-content">
        <header>
            <h1>NWSL</h1>
            <h1>Insights</h1>
            <h1>{{ season }}</h1>
            <nav>
                <ul>
                    <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="nav-link" href="{{ url_for('players') }}">Players</a></li>
                    <li><a class="nav-link" href="{{ url_for('goalkeepers') }}">Goalkeepers</a></li>
                    <li><a class="nav-link" href="{{ url_for('teams') }}">Teams</a></li>
                    <li><a class="nav-link" href="{{ url_for('games') }}">Games</a></li>
                </ul>
            </nav>
            <section id="nav_form_container">
                <form id="season_select_form" action="/" method="POST">
                    <label class="label_small" for="season_year">The data can be adjusted for a specific season below.</label>
                    <select id="season_year" name="season_year">
                        <option value="" disabled selected>Select Season</option>
                        {% for season_year in seasons %}
                            <option id="season_year" name="season_year" value="{{season_year}}"> {{season_year}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="grid_button_light" value="Submit">
                </form>
            </section>
        </header>
        <main>
            <section id="block-content">
                {% block content %} {% endblock %}
            </section>
        </main>
    </section> 
    <script src="script.js"></script>
    <footer>
    </footer>
</body>

</html>
