<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ meta.title if meta else "xGoal Theory" }}</title>

    {% if meta %}
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ meta.title }}">
        <meta property="og:description" content="{{ meta.description }}">
        <meta property="og:image" content="{{ meta.image }}">
        <meta property="og:url" content="{{ meta.url }}">
        <meta property="og:site_name" content="Your Site Name">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ meta.title }}">
        <meta name="twitter:description" content="{{ meta.description }}">
        <meta name="twitter:image" content="{{ meta.image }}">
        <meta name="twitter:url" content="{{ meta.url }}">
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A generic HTML template">
    <meta name="author" content="Brian Breeden">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data_table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <section id="all-content">
        <header>
            <div class="header-top">
                <img id="nav-logo" class="max-width-100" src="{{ url_for('static', filename='img/logo.png') }}" alt="Website Logo">
                <button id="menu-toggle" aria-label="Toggle Menu">&#9776;</button>
                <h1 class="nav-header">xGoal</h1>
                <h1 class="nav-header">Theory</h1>
                <h1 class="nav-header">{{ season }}</h1>


                
            </div>

            <nav id="navbar">
                <ul id="nav-links">
                    <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="nav-link" href="{{ url_for('league') }}">League</a></li>
                    <li><a class="nav-link" href="{{ url_for('players') }}">Players</a></li>
                    <li><a class="nav-link" href="{{ url_for('goalkeepers') }}">Goalkeepers</a></li>
                    <li><a class="nav-link" href="{{ url_for('teams') }}">Teams</a></li>
                    <li><a class="nav-link" href="{{ url_for('team_comparison') }}">Team Comparison</a></li>
                    <li><a class="nav-link" href="{{ url_for('games') }}">Games</a></li>
                    <li><a class="nav-link" href="{{ url_for('simulations') }}">Simulations</a></li>
                    <li><a class="nav-link" href="{{ url_for('blog') }}">Blog</a></li>
                </ul>
            </nav>
            <section id="nav-form-container">
                <form id="season_select_form" action="/" method="POST">
                    <label class="text-small text-center" for="season_year">The data can be adjusted for a specific season below.</label>
                    <select id="season_year" name="season_year">
                        <option value="" disabled selected>Select Season</option>
                        {% for season_year in seasons %}
                            <option id="season_year" name="season_year" value="{{season_year}}"> {{season_year}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="grid_button_light" value="Submit">
                </form>
            </section>
        </header>
        <main>
            <section id="block-content">
                {% block content %} {% endblock %}
            </section>
        </main>
    </section>
    <footer>
    </footer>
</body>
<script>
    document.getElementById('menu-toggle').addEventListener('click', function () {
        document.getElementById('nav-links').classList.toggle('show');
    });
</script>
</html>
