{% extends 'base.html' %}

{% block content %}
    
    <div class="stat-table-container">
        <h2>Games</h2>
        <table id="games">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Game ID</th>
                    <th>Game Time (EST)</th>
                    <th>Status</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games_data %}
                <tr>
                    <td>
                        <form action="/game" method="POST">
                            <input type="hidden" id="game_id" name="game_id" value="{{ game['game_id'] }}">
                            <input type="submit" class="grid_button" value="Game Details">
                        </form>
                    </td>

                    <td>{{ game['game_id'] }}</td>

                    <td><p class="player_report_name_subheader">{{ game['date_time_est'] }}</p></td>

                    <td><p class="player_report_name_subheader">{{ game['status'] }}</p></td>

                    <td class="stat">
                        <div class="hidden">{{ game['home_team_name'] }}</div>
                        <img class="team-icon" src="{{ url_for('static', filename='img/' + game['home_team_abbreviation'] + '.png') }}"> <br>
                        <p class="player_report_name_subheader">{{ game['home_score']}}</p>
                    </td>

                    <td class="stat">
                        <div class="hidden">{{ game['away_team_name'] }}</div>
                        <img class="team-icon" src="{{ url_for('static', filename='img/' + game['away_team_abbreviation'] + '.png') }}"> <br>
                        <p class="player_report_name_subheader">{{ game['away_score'] }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
            <script>
                $(document).ready( function () {
                    $('#games').DataTable();
                } );
    </script>
{% endblock %}