{% extends 'base.html' %}

{% block content %}
    
    <div class="stat-table-container">
        <h2>Games</h2>
        <table id="games">
            <thead>
                <tr>
                    <th>Game Time (EST)</th>
                    <th>Venue</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games_data %}
                <tr>
                    <td>
                        <div class="column-container">
                            <p class="no-padding-no-margin text-weight-bolder">{{ game['date_time_est'] }}</p>
                            <p class="no-padding-no-margin">Matchday {{ game['matchday'] }}</p>
                            <form action="/game" method="POST">
                                <input type="hidden" id="game_id" name="game_id" value="{{ game['game_id'] }}">
                                <input type="submit" class="grid_button moderate-margin-top-bottom" value="Game Details">
                            </form>
                        </div>
                    </td>
                    <td class="column-container">
                        <div>
                            <p class="no-padding-no-margin">{{ game['stadium_name'] }}</p>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="hidden">{{ game['home_team_name'] }}</div>
                        <img class="icon-medium" src="{{ url_for('static', filename='img/' + game['home_team_abbreviation'] + '.png') }}"> <br>
                        <p class="report_name_subheader">{{ game['home_score']}}</p>
                    </td>

                    <td class="text-center">
                        <div class="hidden">{{ game['away_team_name'] }}</div>
                        <img class="icon-medium" src="{{ url_for('static', filename='img/' + game['away_team_abbreviation'] + '.png') }}"> <br>
                        <p class="report_name_subheader">{{ game['away_score'] }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
            <script>
                $(document).ready( function () {
                    $('#games').DataTable();
                } );

                $.extend( $.fn.dataTable.defaults, {
                    ordering:  false
                } );
    </script>
{% endblock %}