{% extends 'base.html' %}

{% block content %}
    <div class="container-column width-80p large-margin">
        <h2>Goalkeepers</h2>
        <table id='players'>
            <thead>
                <tr>
                    <th></th>
                    <th>Player Name</th>
                    <th title="Strength – Model-derived rating based on shot-stopping performance">Str</th>
                    <th title="Minutes Played - The number of minutes the goalkeeper has played">MP</th>
                    <th title="Shots Faced – Total number of shots on target faced">SF</th>
                    <th title="Goals Conceded – Goals allowed while in net">GC</th>
                    <th title="Saves – Total saves made">S</th>
                    <th title="Post-Shot xG Faced – Quality of shots faced, adjusted for placement">xGF</th>
                    <th title="Goals Conceded minus PSxG – Negative values suggest above-average shot stopping">G-xGF</th>
                    <th title="Goals Conceded per PSxG – Ratio of goals allowed to shot quality faced">G/xGF</th>
                </tr>
            </thead>
            <tbody>
                {% for player in keeper_data %}
                <tr>
                    <td>
                        <img class="icon-medium" src="{{ url_for('static', filename='img/' + player['team_abbreviation'] + '.png') }}">
                        <p class="hidden">{{ player['team_name'] }}</p>
                    </td>
                    <td>
                        <form action="/goalkeeper" method="POST">
                            <input type="hidden" id="player_id" name="player_id" value="{{ player['player_id'] }}">
                            <input type="hidden" id="obj_id" name="obj_id" value="{{ player['id'] }}">
                            <input type="submit" class="grid_button" value="{{ player['player_name'] }}">
                            <p class="hidden">{{ player['player_name'] }}</p>
                        </form> 
                    </td>
                     <td>{{ player['player_strength'] }}</td>
                     <td>{{ player['minutes_played'] }}</td>
                     <td>{{ player['shots_faced'] }}</td>
                     <td>{{ player['goals_conceded'] }}</td>
                     <td>{{ player['saves'] }}</td>
                     <td>{{ player['xgoals_gk_faced'] }}</td>
                     <td>{{ player['goals_minus_xgoals_gk'] }}</td>
                     <td>{{ player['goals_divided_by_xgoals_gk'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#players', {
                columnDefs: [
                    { orderable: false, targets: 0 } // disables ordering on the first column (team logo)
                ],
                order: [[2, 'desc']] // sorts ascending by player strength
            });
        });
    </script>
{% endblock %}