{% extends 'base.html' %}

{% block content %}
<section class="report_outer_container">
    <section class="report">
        <section class="report_header">
            <div class="report_team_container">
                <img class="team_logo" src="{{ url_for('static', filename='img/' + keeper_xgoal_data['team_abbreviation'] + '.png') }}">
            </div>
            <div class="report_name_container">
                <h1 class="player_name_report">
                    {{keeper_xgoal_data['player_first_name']}}<br/>
                </h1>
                <h1 class="player_name_report">
                    {{keeper_xgoal_data['player_last_name']}}<br/>
                </h1>
                <h2 class="player_report_name_subheader">{{keeper_xgoal_data['team_name']}} - Goalkeeper</h2>
                <h2 class="player_report_name_subheader">{{keeper_xgoal_data['nationality']}}</h2>
                
            </div>
        </section>

        <!-- Player Minute Check -->
        {% if keeper_xgoal_data['minutes_played'] < 270 %}
            <section id="player_report_warning">
                <h2>{{keeper_xgoal_data['player_first_name']}} {{keeper_xgoal_data['player_last_name']}} has played less than 270 minutes this season.</h2>
                <p>Players require at least three games of playing time before their detailed statistics can be calculated accurately.</p>
                <p>Current Minutes: {{keeper_xgoal_data['minutes_played']}}</p>
            </section>
            <section class="player_report_stats_container hidden">
        {% else %}
            <section class="player_report_stats_container">
        {% endif %}

            <div class="plot_container" id="keeper_xgoals_plot">
            </div>
            <script>
                var keeperSpiderChartData = {{ keeper_fig_json_xgoals|safe }};
                var keeperSpiderChartConfig = {{ keeper_config_xgoals|safe }};
                Plotly.newPlot('keeper_xgoals_plot', keeperSpiderChartData.data, keeperSpiderChartData.layout, keeperSpiderChartConfig);
            </script>
            <!-- XGoals -->
            <h2>XGoals - {{keeper_xgoal_data['player_name']}}</h2>
            <section class="player_report_stats_block">
                <table class="player_stats_table">
                    <thead>
                        <th class="small-padding dark-background white-text"><h4>Stat</h4></th>
                        <th class="small-padding dark-background white-text"><h4 class="text-center">Value</h4></th>
                        <th class="small-padding dark-background white-text"></th>
                        <th class="small-padding dark-background white-text"><h4 class="text-center">Average</h4></th>
                    </thead>
                    <tbody>
                        {% for stat, abr, label in [
                            ('minutes_played', 'MP', 'Minutes Played'),
                            ('shots_faced', 'SF', 'Shots Faced'),
                            ('goals_conceded', 'GC', 'Goals Conceded'),
                            ('saves', 'SV', 'Saves'),
                            ('share_headed_shots', 'SHS', 'Share of Headed Shots Faced'),
                            ('xgoals_gk_faced', 'xG_F', 'Expected Goals Faced'),
                            ('goals_minus_xgoals_gk', 'G-xG_F', 'Goals - xGoals Faced'),
                            ('goals_divided_by_xgoals_gk', 'G/xG_F', 'Goals / Expected Goals Faced'),
                            ('save_perc', 'S%', 'Save Percentage')
                        ] %}
                        <tr>
                            <td class="text-left">
                                <p class="stat_label player_stat_text">{{ label }}</p>
                            </td>
                            <td class="player_stat_cell">
                                <p class="player_stat_text">{{ keeper_xgoal_data[stat] }}</p>
                            </td>
                            <td class="text-center">
                                {% if stat in ['goals_conceded', 'xgoals_gk_faced', 'goals_minus_xgoals_gk', 'goals_divided_by_xgoals_gk', 'shots_faced'] %}
                                    {% if keeper_xgoal_data[stat] == keeper_xgoal_data['min_' + stat] %}
                                        <img class="icon" src="{{ url_for('static', filename='img/star.png') }}">
                                    {% elif keeper_xgoal_data[stat] <= keeper_xgoal_data['avg_' + stat] %}
                                        <img class="icon" src="{{ url_for('static', filename='img/up.png') }}">
                                    {% else %}
                                        <img class="icon" src="{{ url_for('static', filename='img/down.png') }}">
                                    {% endif %}
                                {% else %}
                                    {% if keeper_xgoal_data[stat] == keeper_xgoal_data['max_' + stat] %}
                                        <img class="icon" src="{{ url_for('static', filename='img/star.png') }}">
                                    {% elif keeper_xgoal_data[stat] >= keeper_xgoal_data['avg_' + stat] %}
                                        <img class="icon" src="{{ url_for('static', filename='img/up.png') }}">
                                    {% else %}
                                        <img class="icon" src="{{ url_for('static', filename='img/down.png') }}">
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="player_stat_cell">
                                <p class="player_stat_text">{{ keeper_xgoal_data['avg_' + stat] }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'stat_legend.html' %}
            </section>
            
            <div class="plot_container" id="keeper_goals_added_plot">
            </div>
            <script>
                var keeperSpiderChartData = {{ keeper_fig_json_goals_added|safe }};
                var keeperSpiderChartConfig = {{ keeper_config_goals_added|safe }};
                Plotly.newPlot('keeper_goals_added_plot', keeperSpiderChartData.data, keeperSpiderChartData.layout, keeperSpiderChartConfig);
            </script>
            <!-- Goals Added -->
            <h2>Goals Added - {{keeper_xgoal_data['player_name']}}</h2>
            <section class="player_report_stats_block">
                <table class="player_stats_table">
                    <thead>
                        <th class="small-padding dark-background white-text"><h4>Stat</h4></th>
                        <th class="small-padding dark-background white-text"><h4 class="text-center">Value</h4></th>
                        <th class="small-padding dark-background white-text"></th>
                        <th class="small-padding dark-background white-text"><h4 class="text-center">Average</h4></th>
                    </thead>
                    <tbody>
                        {% for stat, abr, label in [
                                ('claiming_goals_added_raw', 'CGA(R)', 'Claiming Goals Added (Raw)'),
                                ('claiming_goals_added_above_avg', 'CGA(AA)', 'Claiming Goals Added (Above Avg)'),
                                ('claiming_count_actions', 'CA', 'Claiming Actions'),
                                ('fielding_goals_added_raw', 'FGA(R)', 'Fielding Goals Added (Raw)'),
                                ('fielding_goals_added_above_avg', 'FGA(AA)', 'Fielding Goals Added (Above Avg)'),
                                ('fielding_count_actions', 'FA', 'Fielding Actions'),
                                ('handling_goals_added_raw', 'HGA(R)', 'Handling Goals Added (Raw)'),
                                ('handling_goals_added_above_avg', 'HGA(AA)', 'Handling Goals Added (Above Avg)'),
                                ('handling_count_actions', 'HA', 'Handling Actions'),
                                ('passing_goals_added_raw', 'PGA(R)', 'Passing Goals Added (Raw)'),
                                ('passing_goals_added_above_avg', 'PGA(AA)', 'Passing Goals Added (Above Avg)'),
                                ('passing_count_actions', 'PA', 'Passing Actions'),
                                ('shotstopping_goals_added_raw', 'SGA(R)', 'Shotstopping Goals Added (Raw)'),
                                ('shotstopping_goals_added_above_avg', 'SGA(AA)', 'Shotstopping Goals Added (Above Avg)'),
                                ('shotstopping_count_actions', 'SA', 'Shotstopping Actions'),
                                ('sweeping_goals_added_raw', 'SWGA(R)', 'Sweeping Goals Added (Raw)'),
                                ('sweeping_goals_added_above_avg', 'SWGA(AA)', 'Sweeping Goals Added (Above Avg)'),
                                ('sweeping_count_actions', 'SWA', 'Sweeping Actions')
                            ] %}
                                <tr>
                                    <td class="text-left">
                                        <p class="stat_label player_stat_text">{{ label }}</p>
                                    </td>
                                    <td class="player_stat_cell">
                                        <p class="player_stat_text">{{ keeper_goals_added_data[stat] }}</p>
                                    </td>
                                    <td class="text-center">
                                        {% if keeper_goals_added_data[stat] == keeper_goals_added_data['max_' + stat] %}
                                            <img class="icon" src="{{ url_for('static', filename='img/star.png') }}">
                                        {% elif keeper_goals_added_data[stat] >= keeper_goals_added_data['avg_' + stat] %}
                                            <img class="icon" src="{{ url_for('static', filename='img/up.png') }}">
                                        {% else %}
                                            <img class="icon" src="{{ url_for('static', filename='img/down.png') }}">
                                        {% endif %}
                                    </td>
                                    <td class="player_stat_cell">
                                        <p class="player_stat_text">{{ keeper_goals_added_data['avg_' + stat] }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'stat_legend.html' %}
            </section>            
        </section>        
    </section>
</section>
<div class="hidden">


    {{ keeper_goals_added_data['player_first_name'] }} {{ keeper_goals_added_data['player_last_name'] }}

    {% for stat, abr, label in [
        ('minutes_played', 'MP', 'Minutes Played'),
        ('shots_faced', 'SF', 'Shots Faced'),
        ('goals_conceded', 'GC', 'Goals Conceded'),
        ('saves', 'SV', 'Saves'),
        ('share_headed_shots', 'SHS', 'Share of Headed Shots Faced'),
        ('xgoals_gk_faced', 'xG_F', 'Expected Goals Faced'),
        ('goals_minus_xgoals_gk', 'G-xG_F', 'Goals - xGoals Faced'),
        ('goals_divided_by_xgoals_gk', 'G/xG_F', 'Goals / Expected Goals Faced')
    ] %}
        {{ stat }}: {{ keeper_xgoal_data[stat] }} (Position Average: {{ keeper_xgoal_data['avg_' + stat] }})
    {% endfor %}

    {% for stat, abr, label in [
        ('claiming_goals_added_raw', 'CGA(R)', 'Claiming Goals Added (Raw)'),
        ('claiming_goals_added_above_avg', 'CGA(AA)', 'Claiming Goals Added (Above Avg)'),
        ('claiming_count_actions', 'CA', 'Claiming Actions'),
        ('fielding_goals_added_raw', 'FGA(R)', 'Fielding Goals Added (Raw)'),
        ('fielding_goals_added_above_avg', 'FGA(AA)', 'Fielding Goals Added (Above Avg)'),
        ('fielding_count_actions', 'FA', 'Fielding Actions'),
        ('handling_goals_added_raw', 'HGA(R)', 'Handling Goals Added (Raw)'),
        ('handling_goals_added_above_avg', 'HGA(AA)', 'Handling Goals Added (Above Avg)'),
        ('handling_count_actions', 'HA', 'Handling Actions'),
        ('passing_goals_added_raw', 'PGA(R)', 'Passing Goals Added (Raw)'),
        ('passing_goals_added_above_avg', 'PGA(AA)', 'Passing Goals Added (Above Avg)'),
        ('passing_count_actions', 'PA', 'Passing Actions'),
        ('shotstopping_goals_added_raw', 'SGA(R)', 'Shotstopping Goals Added (Raw)'),
        ('shotstopping_goals_added_above_avg', 'SGA(AA)', 'Shotstopping Goals Added (Above Avg)'),
        ('shotstopping_count_actions', 'SA', 'Shotstopping Actions'),
        ('sweeping_goals_added_raw', 'SWGA(R)', 'Sweeping Goals Added (Raw)'),
        ('sweeping_goals_added_above_avg', 'SWGA(AA)', 'Sweeping Goals Added (Above Avg)'),
        ('sweeping_count_actions', 'SWA', 'Sweeping Actions')
    ] %}
        {{ stat }}: {{ keeper_goals_added_data[stat] }} (Position Average: {{ keeper_goals_added_data['avg_' + stat] }})
    {% endfor %}
    

</div>
{% endblock %}