{% extends 'base.html' %}

{% block content %}
<!-- Team Logos -->
 <section id="index_container">
    <section id="team_logo_contianer">
        {% for team in teams_data %}
            <form action="/team" method="POST" style="display:inline;">
                <input type="hidden" name="team_id" value="{{ team['team_id'] }}">
                <button type="submit" class="grid_button" style="border: none; background: none; padding: 0;">
                    <img class="icon-large" src="{{ url_for('static', filename='img/' + team['team_abbreviation'] + '.png') }}" alt="{{ team['team_name'] }}">
                </button>
                <p class="hidden">{{ team['team_name'] }}</p>
            </form>
            

        {% endfor %}
    </section>
    <h1 id="index_header">xGoal Theory</h1>
    <section id="site_description" class="large-margin-bottom">
        <p class="text-justified">Welcome to xGoal Theory! A home for data-driven storytelling, simulation, and statistical deep dives into the NWSL. This site blends analysis and creativity to uncover the patterns that shape outcomes, performances, and momentum across the league.</p>

        <p class="text-justified">At its core is a custom-built simulation engine powered by shot-level data, player metrics, and defensive modeling. By using tools like expected goals, post-shot xG, and goals added, we estimate match outcomes and highlight trends that go far beyond the final score. Curious how an injury impacts team strength? Or which club quietly controls matches without flashy results? This is the space where we explore those questions with clarity and curiosity.</p>

        <p class="text-justified">You’ll also find weekly power rankings that reward sustainable performance, player profiles backed by underlying numbers, and matchup previews powered by probability. Whether you're here to dig into team stats, visualize xG distributions, or just see who’s rising and falling, every feature is designed to make complex data feel intuitive.</p>

        <p class="text-justified">If you're looking for insight that goes beyond the scoreboard, you're in the right place.</p>
    </section>

</section>

{% endblock %}