{% extends 'base.html' %}

{% block content %}
    <div class="container-column width-80p large-margin">
        <h2>Position Players</h2>
        <table id='players'>
            <thead>
                <tr>
                    <th></th>
                    <th>Player Name</th>
                    <th>Position</th>
                    <th>Str</th>
                    <th>xG/xA/90</th>
                    <th>xA</th>
                    <th>S</th>
                    <th>SoT</th>
                    <th>G</th>
                    <th>xG</th>
                    <th>A</th>
                    <th>PA</th>
                    <th>MP</th>
                </tr>
            </thead>
            <tbody>
                {% for player_xgoal, player_xpass in player_data %}
                <tr>
                    <td>
                        <img class="icon-medium" src="{{ url_for('static', filename='img/' + player_xgoal['team_abbreviation'] + '.png') }}">
                        <p class="hidden">{{ player_xgoal['team_name'] }}</p>
                    </td>
                    <td>
                        <form action="/player" method="POST">
                            <input type="hidden" id="player_id" name="player_id" value="{{ player_xgoal['player_id'] }}">
                            <input type="hidden" id="obj_id" name="obj_id" value="{{ player_xgoal['id'] }}">
                            <input type="submit" class="grid_button" value="{{ player_xgoal['player_name'] }}">
                            <p class="hidden">{{ player_xgoal['player_name'] }}</p>
                        </form> 
                    </td>
                    <td class="stat">{{ player_xgoal['general_position'] }}</td>
                    <td class="stat">{{ player_xgoal['player_strength'] }}</td>
                    <td class="stat">{{ player_xgoal['xgoals_xassists_per_90']}}</td>
                    <td class="stat">{{ player_xgoal['xassists'] }}</td>
                    <td class="stat">{{ player_xgoal['shots'] }}</td>
                    <td class="stat">{{ player_xgoal['shots_on_target'] }}</td>
                    <td class="stat">{{ player_xgoal['goals'] }}</td>
                    <td class="stat">{{ player_xgoal['xgoals'] }}</td>
                    <td class="stat">{{ player_xgoal['primary_assists'] }}</td>
                    <td class="stat">{{ player_xgoal['points_added'] }}</td>
                    <td class="stat">{{ player_xgoal['minutes_played'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "abbr_legend.html" %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#players', {
                columnDefs: [
                    { orderable: false, targets: 0 } // disables ordering on the first column (team logo)
                ],
                order: [[3, 'desc']] // sorts ascending by player strength
            });
        });
    </script>
{% endblock %}