{% extends 'base.html' %}

{% block content %}
    <div class="stat-table-container">
        <h1>Position Players</h1>
        <table id='players'>
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>xG/xA per 90</th>
                    <th>XAssists</th>
                    <th>Shots</th>
                    <th>SoT</th>
                    <th>Goals</th>
                    <th>XGoals</th>
                    <th>Assists</th>
                    <th>Points Added</th>
                    <th>Minutes Played</th>
                </tr>
            </thead>
            <tbody>
                {% for player_xgoal, player_xpass in player_data %}
                <tr>
                    <td>
                        <form action="/player" method="POST">
                            <input type="hidden" id="player_id" name="player_id" value="{{ player_xgoal['player_id'] }}">
                            <input type="hidden" id="obj_id" name="obj_id" value="{{ player_xgoal['id'] }}">
                            <input type="submit" class="grid_button" value="{{ player_xgoal['player_name'] }}">
                            <p class="hidden">{{ player_xgoal['player_name'] }}</p>
                        </form> 
                    </td>
                    <td>{{ player_xgoal['team_name'] }}</td>
                    <td class="stat">{{ player_xgoal['primary_general_position'] }}</td>
                    <td class="stat">{{ player_xgoal['xgoals_xassists_per_90']}}</td>
                    <td class="stat">{{ player_xgoal['xassists'] }}</td>
                    <td class="stat">{{ player_xgoal['shots'] }}</td>
                    <td class="stat">{{ player_xgoal['shots_on_target'] }}</td>
                    <td class="stat">{{ player_xgoal['goals'] }}</td>
                    <td class="stat">{{ player_xgoal['xgoals'] }}</td>
                    <td class="stat">{{ player_xgoal['primary_assists'] }}</td>
                    <td class="stat">{{ player_xgoal['points_added'] }}</td>
                    <td class="stat">{{ player_xgoal['minutes_played'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
            <script>
                $(document).ready( function () {
                    $('#players').DataTable();
                } );
    </script>
{% endblock %}