{% extends 'base.html' %}

{% block content %}
<section class="player_report_outer_container">
    <section class="player_report">
        <section class="player_report_header">
            <div class="player_report_team_container">
                <img class="team_logo" src="{{ url_for('static', filename='img/' + player_xgoals_data['team_abbreviation'] + '.png') }}">
            </div>
            <div class="player_report_name_container">
                <h1 class="player_name_report">
                    {{player_xgoals_data['player_first_name']}}<br/>
                </h1>
                <h1 class="player_name_report">
                    {{player_xgoals_data['player_last_name']}}<br/>
                </h1>
                <h2 class="player_report_name_subheader">{{player_xgoals_data['team_name']}} - {{player_xgoals_data['primary_general_position']}}</h2>
                <h2 class="player_report_name_subheader">{{player_xgoals_data['nationality']}}</h2>
                
            </div>
        </section>

        {% if player_xgoals_data['minutes_played'] < 270 %}
            <section id="player_report_warning">
                <h2>{{player_xgoals_data['player_first_name']}} {{player_xgoals_data['player_last_name']}} has played less than 270 minutes this season.</h2>
                <p>Players require at least three games of playing time before their detailed statistics can be calculated accurately.</p>
                <p>Current Minutes: {{player_xgoals_data['minutes_played']}}</p>
            </section>
            <section class="player_report_stats_container hidden">
        {% else %}
            <section class="player_report_stats_container">
        {% endif %}
        
            <div class="plot_container" id="xgoals_plot">
            </div>
            <script>
                var spiderChartData = {{ xgoals_fig_json|safe }};
                var spiderChartConfig = {{ xgoals_config|safe }};
                Plotly.newPlot('xgoals_plot', spiderChartData.data, spiderChartData.layout, spiderChartConfig);
            </script>
            <!-- XGoals -->
            <h2>XGoals</h2>
            <section class="player_report_stats_block">
                <table class="player_stats_table">
                    <tbody>
                            {% for stat, abr,  label in [
                                ('xgoals_xassists_per_90', 'XG/XA|90', 'XGoals/XAssists Per 90 Minutes'),
                                ('minutes_played', 'MP', 'Minutes Played'),
                                ('shots', 'S', 'Shots'),
                                ('shots_on_target', 'SOT', 'Shots on Target'),
                                ('shots_on_target_perc', 'SOT %', 'Shots on Target %'),
                                ('goals', 'G', 'Goals'),
                                ('xgoals', 'xG', 'Expected Goals'),
                                ('xplace', 'xP', 'xPlace'),
                                ('goals_minus_xgoals', 'G-xG', 'Goals - xGoals'),
                                ('key_passes', 'KP', 'Key Passes'),
                                ('primary_assists', 'PA', 'Primary Assists'),
                                ('xassists', 'xA', 'Expected Assists (xA)'),
                                ('primary_assists_minus_xassists', 'PA-xA', 'Primary Assists - xAssists'),
                                ('xgoals_plus_xassists', 'xG + xA', 'xGoals + xAssists'),
                                ('points_added', 'PA', 'Points Added'),
                                ('xpoints_added', 'xPA', 'Expected Points Added')
                            ] %}
                                <tr>
                                    
                                    <td>{{ label }}</td>
                                    {% if player_xgoals_data[stat] >= player_xgoals_data['avg_' + stat] %}  
                                        <td class="stat_block_team_comparison advantage">
                                    {% else %}
                                        <td class="stat_block_team_comparison disadvantage">
                                    {% endif %}
                                            {{ player_xgoals_data[stat] }} ({{ player_xgoals_data['avg_' + stat] }})
                                        </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </section>

            <div class="plot_container" id="xpass_plot">
            </div>
            <script>
                var xpassSpiderChartData = {{ xpass_fig_json|safe }};
                var xpassSpiderChartConfig = {{ xpass_config|safe }};
                Plotly.newPlot('xpass_plot', xpassSpiderChartData.data, xpassSpiderChartData.layout, xpassSpiderChartConfig);
            </script>
            <!-- XPass -->
            <h2>XPass</h2>
            <section class="player_report_stats_block">
                <section class="player_report_stats_block">
                    <table class="player_stats_table">
                        <tbody>
                            {% for stat, abr, label in [
                                ('count_games','GP', 'Games Played'),
                                ('attempted_passes', 'AP', 'Attempted Passes'),
                                ('pass_completion_percentage', 'PC %', 'Pass Completion Percentage'),
                                ('xpass_completion_percentage', 'xPC %', 'xPass Completion Percentage'),
                                ('passes_completed_over_expected', 'PCOE', 'Passes Completed Over Expected'),
                                ('passes_completed_over_expected_p100', 'PCOE 100', 'Passes Completed Over Expected per 100'),
                                ('avg_distance_yds', 'AvgD',  'Average Distance (yds)'),
                                ('avg_vertical_distance_yds', 'AvgVD', 'Average Vertical Distance (yds)'),
                                ('share_team_touches', 'SoTT %', 'Share of Team Touches')
                            ] %}
                                <tr>
                                    <td>{{ label }}</td>
                                    {% if player_xpass_data[stat] >= player_xpass_data['avg_' + stat] %}  
                                        <td class="stat_block_team_comparison advantage">
                                    {% else %}
                                        <td class="stat_block_team_comparison disadvantage">
                                    {% endif %}
                                            {{ player_xpass_data[stat] }} ({{ player_xpass_data['avg_' + stat] }})
                                        </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            <div class="plot_container" id="defense_plot">
            </div>
            <script>
                var defenseSpiderChartData = {{ defense_fig_json|safe }};
                var defenseSpiderChartConfig = {{ defense_config|safe }};
                Plotly.newPlot('defense_plot', defenseSpiderChartData.data, defenseSpiderChartData.layout, defenseSpiderChartConfig);
            </script>
            <!-- Player Goals Added -->
            <h2>Goals Added</h2>
            <section class="player_report_stats_block">


                <table class="player_stats_table">
                    <tbody>
                        {% for stat, abr,  label in [
                            ('dribbling_goals_added_raw', 'DGA(R)', 'Dribbling Goals Added (Raw)'),
                            ('dribbling_goals_added_above_avg','DGA(AA)', 'Dribbling Goals Added (Above Avg)'),
                            ('dribbling_count_actions', 'DA', 'Dribbling Actions'),
                            ('fouling_goals_added_raw', 'FGA(R)', 'Fouling Goals Added (Raw)'),
                            ('fouling_goals_added_above_avg', 'FGA(AA)', 'Fouling Goals Added (Above Avg)'),
                            ('fouling_count_actions', 'FA', 'Fouling Actions'),
                            ('interrupting_goals_added_raw', 'IGA(R)', 'Interrupting Goals Added (Raw)'),
                            ('interrupting_goals_added_above_avg', 'IGA(AA)', 'Interrupting Goals Added (Above Avg)'),
                            ('interrupting_count_actions', 'IA', 'Interrupting Actions'),
                            ('passing_goals_added_raw', 'PGA(R)', 'Passing Goals Added (Raw)'),
                            ('passing_goals_added_above_avg', 'PGA(AA)', 'Passing Goals Added (Above Avg)'),
                            ('passing_count_actions', 'PA', 'Passing Actions'),
                            ('receiving_goals_added_raw', 'RGA(R)', 'Receiving Goals Added (Raw)'),
                            ('receiving_goals_added_above_avg', 'RGA(AA)', 'Receiving Goals Added (Above Avg)'),
                            ('receiving_count_actions', 'RA', 'Receiving Actions'),
                            ('shooting_goals_added_raw', 'SGA(R)', 'Shooting Goals Added (Raw)'),
                            ('shooting_goals_added_above_avg', 'SGA(AA)', 'Shooting Goals Added (Above Avg)'),
                            ('shooting_count_actions', 'SA', 'Shooting Actions')
                        ] %}
                        <tr>
                            <td>{{ label }}</td>
                            {% if player_goals_added_data[stat] >= player_goals_added_data['avg_' + stat] %}  
                                <td class="stat_block_team_comparison advantage">
                            {% else %}
                                <td class="stat_block_team_comparison disadvantage">
                            {% endif %}
                                    {{ player_goals_added_data[stat] }} ({{ player_goals_added_data['avg_' + stat] }})
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        <!-- All Seasons Data -->
         <h2>All Seasons Data</h2>
         <table>
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Minutes</th>
                    <th>G</th>
                    <th>A</th>
                    <th>xG</th>
                    <th>xA</th>
                    <th>xG/xA/90</th>
                </tr>
            </thead>
            <tbody>
                {% for season in player_season_data %}
                <tr>
                    <td>{{ season['season'] }}</td>
                    <td>{{ season['team_abbreviation'] }}</td>
                    <td>{{ season['minutes_played'] }}</td>
                    <td>{{ season['goals'] }}</td>
                    <td>{{ season['primary_assists'] }}</td>
                    <td>{{ season['xgoals'] }}</td>
                    <td>{{ season['xassists'] }}</td>
                    <td>{{ season['xgoals_xassists_per_90'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
           
        </section>
    </section>
</section>
<div class="hidden">

    {{player_xgoals_data['player_first_name']}} {{player_xgoals_data['player_last_name']}}
    {% for stat, abr,  label in [
        ('xgoals_xassists_per_90', 'XG/XA|90', 'XGoals/XAssists Per 90 Minutes'),
        ('minutes_played', 'MP', 'Minutes Played'),
        ('shots', 'S', 'Shots'),
        ('shots_on_target', 'SOT', 'Shots on Target'),
        ('shots_on_target_perc', 'SOT %', 'Shots on Target %'),
        ('goals', 'G', 'Goals'),
        ('xgoals', 'xG', 'Expected Goals'),
        ('xplace', 'xP', 'xPlace'),
        ('goals_minus_xgoals', 'G-xG', 'Goals - xGoals'),
        ('key_passes', 'KP', 'Key Passes'),
        ('primary_assists', 'PA', 'Primary Assists'),
        ('xassists', 'xA', 'Expected Assists (xA)'),
        ('primary_assists_minus_xassists', 'PA-xA', 'Primary Assists - xAssists'),
        ('xgoals_plus_xassists', 'xG + xA', 'xGoals + xAssists'),
        ('points_added', 'PA', 'Points Added'),
        ('xpoints_added', 'xPA', 'Expected Points Added')
    ] %}
        {{ stat }}: {{ player_xgoals_data[stat] }}  (Position Average: {{ player_xgoals_data['avg_' + stat] }} Position Minimum: {{ player_xgoals_data['min_' + stat] }} Position Maximum: {{ player_xgoals_data['max_' + stat] }})
    {% endfor %}

    {% for stat, abr, label in [
        ('count_games','GP', 'Games Played'),
        ('attempted_passes', 'AP', 'Attempted Passes'),
        ('pass_completion_percentage', 'PC %', 'Pass Completion Percentage'),
        ('xpass_completion_percentage', 'xPC %', 'xPass Completion Percentage'),
        ('passes_completed_over_expected', 'PCOE', 'Passes Completed Over Expected'),
        ('passes_completed_over_expected_p100', 'PCOE 100', 'Passes Completed Over Expected per 100'),
        ('avg_distance_yds', 'AvgD',  'Average Distance (yds)'),
        ('avg_vertical_distance_yds', 'AvgVD', 'Average Vertical Distance (yds)'),
        ('share_team_touches', 'SoTT %', 'Share of Team Touches')
    ] %}
        {{ stat }}: {{ player_xpass_data[stat] }}  (Position Average: {{ player_xpass_data['avg_' + stat] }} Position Minimum: {{ player_xpass_data['min_' + stat] }} Position Maximum: {{ player_xpass_data['max_' + stat] }})
    {% endfor %}

    {% for stat, abr,  label in [
        ('dribbling_goals_added_raw', 'DGA(R)', 'Dribbling Goals Added (Raw)'),
        ('dribbling_goals_added_above_avg','DGA(AA)', 'Dribbling Goals Added (Above Avg)'),
        ('dribbling_count_actions', 'DA', 'Dribbling Actions'),
        ('fouling_goals_added_raw', 'FGA(R)', 'Fouling Goals Added (Raw)'),
        ('fouling_goals_added_above_avg', 'FGA(AA)', 'Fouling Goals Added (Above Avg)'),
        ('fouling_count_actions', 'FA', 'Fouling Actions'),
        ('interrupting_goals_added_raw', 'IGA(R)', 'Interrupting Goals Added (Raw)'),
        ('interrupting_goals_added_above_avg', 'IGA(AA)', 'Interrupting Goals Added (Above Avg)'),
        ('interrupting_count_actions', 'IA', 'Interrupting Actions'),
        ('passing_goals_added_raw', 'PGA(R)', 'Passing Goals Added (Raw)'),
        ('passing_goals_added_above_avg', 'PGA(AA)', 'Passing Goals Added (Above Avg)'),
        ('passing_count_actions', 'PA', 'Passing Actions'),
        ('receiving_goals_added_raw', 'RGA(R)', 'Receiving Goals Added (Raw)'),
        ('receiving_goals_added_above_avg', 'RGA(AA)', 'Receiving Goals Added (Above Avg)'),
        ('receiving_count_actions', 'RA', 'Receiving Actions'),
        ('shooting_goals_added_raw', 'SGA(R)', 'Shooting Goals Added (Raw)'),
        ('shooting_goals_added_above_avg', 'SGA(AA)', 'Shooting Goals Added (Above Avg)'),
        ('shooting_count_actions', 'SA', 'Shooting Actions')
    ] %}
        {{ stat }}: {{ player_goals_added_data[stat] }} (Position Average: {{ player_goals_added_data['avg_' + stat] }} Position Minimum: {{ player_goals_added_data['min_' + stat] }} Position Maximum: {{ player_goals_added_data['max_' + stat] }})
    {% endfor %}
</div>
{% endblock %}