{% extends 'base.html' %}

{% block content %}

        <form id="simulation_form" action="/simulation_results" method="POST">
            <label class="hidden" for="home_team">Select Option 1:</label>
            <div class="team_comparison_select">
                <select id="home_team" name="home_team" required>
                    <option value="">--Select Home Team--</option>
                    {% for team in teams %}
                        <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                    {% endfor %}
                </select>

                <label class="hidden" for="away_team">Select Option 2:</label>
                <select id="away_team" name="away_team" required>
                    <option value="">--Select Away Team--</option>
                    {% for team in teams %}
                        <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                    {% endfor %}
                </select>

                <select id="num_sims" name="num_sims" required>
                    <option value="">--Number of Simulations--</option>
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                    <option value="10000">10000</option>
                </select>

                <select id="model_type" name="model_type" required>
                    <option value="">--Model Type--</option>
                    <option value="Shot">Shot Simulation</option>
                    <option value="Poisson">Poisson</option>
                </select>

                <label>
                    <input type="checkbox" name="pks" value="yes">
                    Include PKs?
                </label>

                <label>
                    <input type="checkbox" name="psxg" value="yes">
                    Use PSxG?
                </label>
            </div>

            <button class="form_button" type="submit">Submit</button>
        </form>

{% endblock %}