<section class="stat-legend">
    <p class="text-small">
        <img class="icon" src="{{ url_for('static', filename='img/star.png') }}">
        Leads the league for position played.
    </p>
    <p class="text-small">
        <img class="icon" src="{{ url_for('static', filename='img/up.png') }}">
        Better than average for position played.
    </p>
    <p class="text-small">
        <img class="icon" src="{{ url_for('static', filename='img/down.png') }}">
        Worse than average for position played.
    </p>
</section>