{% extends 'base.html' %}

{% block content %}
<section class="report_outer_container">
    <section class="report">
        <section class="report_header">
            <div class="report_team_container">
                <img class="team_logo" src="{{ url_for('static', filename='img/' + team_xgoals_data['team_abbreviation'] + '.png') }}">
            </div>
            <div class="report_name_container">
                <h1 class="name_report">{{ team_xgoals_data['team_name'] }}</h1>
                <h2 class="report_name_subheader">{{ stadium['stadium_name'] }}</h2>
                <h2 class="report_name_subheader">{{ team_record['wins'] }} - {{ team_record['draws'] }} - {{ team_record['losses'] }}</h2>
                <div class="row-container">
                    {% for game in five_recent_games %}
                        <img class="icon x-small-padding" src="{{ url_for('static', filename='img/' + game.result + '.png') }}" alt="{{ game.result }}">
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="row-container moderate-margin">
            <div class="moderate-padding" id="strength_donut"></div>
            <div class="moderate-padding" id="results_donut"></div>
            <div class="moderate-padding" id="goals_donut"></div>
            <div class="moderate-padding" id="pass_donut"></div>
        </div>
        <div class="row-container moderate-margin">
            <div class="moderate-padding" id="team_strength_plot"></div>
        </div>

        <div class="row-container text-left">
            <h2 class="text-xxlarge">xGoals</h2>
        </div>
        <div class="row-container flex-all-center moderate-margin">
            {% for stat, label in [
                ('goals_for', 'Goals For'),
                ('xgoals_for', 'xGoals For'),
                ('goals_against', 'Goals Against'),
                ('xgoals_against', 'xGoals Against'),
                ('points', 'Points'),
                ('xpoints', 'xPoints'),
                ('shots_for', 'Shots For'),
                ('shots_against', 'Shots Against'),
                ('goal_difference', 'Goal Difference'),
                ('xgoal_difference', 'xGoal Difference'),
                ('goalfor_xgoalfor_diff', 'Goal For/xGoal For Difference')
            ] %}
                <div class="column-container text-center large-margin moderate-padding">
                    <h3 class="text-xxlarge text-audiowide">{{ team_xgoals_data[stat] }}</h3>
                    <p class="text-large">{{ label }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="row-container text-left">
            <h2 class="text-xxlarge">xPass</h2>
        </div>
        <div class="row-container flex-all-center moderate-margin">
            {% for stat, label in [
                ('attempted_passes_for', 'Passes Attempted (For)'),
                ('pass_completion_percentage_for', 'Pass Completion % (For)'),
                ('xpass_completion_percentage_for', 'xPass Completion % (For)'),
                ('passes_completed_over_expected_for', 'Passes Over Expected (For)'),
                ('passes_completed_over_expected_p100_for', 'Passes Over Expected / 100 (For)'),
                ('avg_vertical_distance_for', 'Avg Vertical Distance (For)'),
                ('attempted_passes_against', 'Passes Attempted (Against)'),
                ('pass_completion_percentage_against', 'Pass Completion % (Against)'),
                ('xpass_completion_percentage_against', 'xPass Completion % (Against)'),
                ('passes_completed_over_expected_against', 'Passes Over Expected (Against)'),
                ('passes_completed_over_expected_p100_against', 'Passes Over Expected / 100 (Against)'),
                ('avg_vertical_distance_against', 'Avg Vertical Distance (Against)'),
                ('passes_completed_over_expected_difference', 'Passes Over Expected (Difference)'),
                ('avg_vertical_distance_difference', 'Avg Vertical Distance (Difference)')
            ] %}
                <div class="column-container text-center large-margin moderate-padding">
                    <h3 class="text-xxlarge text-audiowide">{{ team_xpass_data[stat] }}</h3>
                    <p class="text-large">{{ label }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="row-container">
            <h2 class="text-xxlarge moderate-margin">Match History</h2>
        </div>
        <div class="row-container">
            <table>
                <thead>
                    <tr>
                        <th>Date (EST)</th>
                        <th>Home Game</th>
                        <th>Result</th>
                        <th>Opponent</th>
                        <th>Short Name</th>
                        <th>Abbreviation</th>
                        <th>Goals Scored</th>
                        <th>Goals Against</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in game_results %}
                    <tr>
                        <td>{{ game.date_time_est }}</td>
                        <td>{{ game.home_game }}</td>
                        <td>{{ game.result }}</td>
                        <td>{{ game.opponent_name }}</td>
                        <td>{{ game.opponent_short_name }}</td>
                        <td>{{ game.opponent_abbreviation }}</td>
                        <td>{{ game.goals_scored }}</td>
                        <td>{{ game.goals_against }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        





    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const str_fig = {{ strength_fig_json|safe }};
        const str_config = {{ strength_config|tojson }};
        Plotly.newPlot('strength_donut', str_fig.data, str_fig.layout, str_config);
    </script>

    <script>
        const results_fig = {{ results_fig_json|safe }};
        const results_conf = {{ results_config|tojson }};
        Plotly.newPlot('results_donut', results_fig.data, results_fig.layout, results_conf);
    </script>

    <script>
        const g_fig = {{ goals_fig_json|safe }};
        const g_conf = {{ goals_config|tojson }};
        Plotly.newPlot('goals_donut', g_fig.data, g_fig.layout, g_conf);
    </script>

    <script>
        const p_fig = {{ pass_fig_json|safe }};
        const p_conf = {{ pass_config|tojson }};
        Plotly.newPlot('pass_donut', p_fig.data, p_fig.layout, p_conf);
    </script>

    <script>
        const tm_str_fig = JSON.parse({{ strength_bar_json|tojson }});
        const tm_str_config = {{ strength_bar_config|tojson }};
        Plotly.newPlot('team_strength_plot', tm_str_fig.data, tm_str_fig.layout, tm_str_config);
    </script>



    </section>
</section>
{% endblock %}