{% extends 'base.html' %}

    {% block content %}
    <div class="compare_teams_outer_container">
        <div id="team_comparison_container">
                <h2>Team Comparison</h2>
                <p>Compare the performance of different teams.</p>
                <form id="team_comparison_form" action="/team_comparison" method="POST">
                    <label class="hidden" for="team1">Select Option 1:</label>
                    <div class="team_comparison_select">
                        <select id="team1" name="team1">
                            <option value="">--Select a Team--</option>
                            {% for team in teams %}
                                <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                            {% endfor %}
                        </select>
                        <label class="hidden" for="team2">Select Option 2:</label>
                        <select id="team2" name="team2">
                            <option value="">--Select a Team--</option>
                            {% for team in teams %}
                                <option value="{{ team['team_id'] }}">{{ team['team_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <button class="form_button" type="submit">Submit</button>
                </form>
            

            {% if not team1_data or not team2_data %}
                
            {% else %}
                {% set team1 = team1_data %}
                {% set team2 = team2_data %}

                <table id="team_comparison_table" border="1" cellpadding="8" cellspacing="0">
                    <thead>
                        <tr>
                            <th><img class="team_logo_comparison" src="{{ url_for('static', filename='img/' + team1['team_abbreviation'] + '.png') }}"></th>
                            <th></th>
                            <th><img class="team_logo_comparison" src="{{ url_for('static', filename='img/' + team2['team_abbreviation'] + '.png') }}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in ordered_stats %}
                            <tr>
                                {# Team 1 Stat Cell #}
                                <td class="stat_block_team_comparison
                                    {% if stat.type == 'positive' %}
                                        {% if team1[stat.name] > team2[stat.name] %}
                                            advantage
                                        {% elif team1[stat.name] < team2[stat.name] %}
                                            disadvantage
                                        {% else %}
                                            neutral
                                        {% endif %}
                                    {% elif stat.type == 'negative' %}
                                        {% if team1[stat.name] < team2[stat.name] %}
                                            advantage
                                        {% elif team1[stat.name] > team2[stat.name] %}
                                            disadvantage
                                        {% else %}
                                            neutral
                                        {% endif %}
                                    {% else %}
                                        neutral
                                    {% endif %}
                                ">
                                    <p class="stat_text">{{ team1[stat.name] }}</p>
                                </td>
                
                                {# Stat Name Cell #}
                                <td class="stat_block_team_comparison">
                                    <h4>{{ stat.label }}</h4>
                                </td>
                
                                {# Team 2 Stat Cell #}
                                <td class="stat_block_team_comparison
                                    {% if stat.type == 'positive' %}
                                        {% if team2[stat.name] > team1[stat.name] %}
                                            advantage
                                        {% elif team2[stat.name] < team1[stat.name] %}
                                            disadvantage
                                        {% else %}
                                            neutral
                                        {% endif %}
                                    {% elif stat.type == 'negative' %}
                                        {% if team2[stat.name] < team1[stat.name] %}
                                            advantage
                                        {% elif team2[stat.name] > team1[stat.name] %}
                                            disadvantage
                                        {% else %}
                                            neutral
                                        {% endif %}
                                    {% else %}
                                        neutral
                                    {% endif %}
                                ">
                                    <p class="stat_text">{{ team2[stat.name] }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}