{% extends 'base.html' %}

    {% block content %}
        <h2>Team Comparison</h2>

        {% set team1 = team1_data[0] %}
        {% set team2 = team2_data[0] %}
        
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>{{ team1['team_name'] }}</th>
                    <th>Stat</th>
                    <th>{{ team2['team_name'] }}</th>
                </tr>
            </thead>
            <tbody>
                {# Positive Stats Comparison #}
                {% for stat in positive_stats %}
                    <tr>
                        <td class="stat_block_team_comparison
                            {% if team1[stat] > team2[stat] %}
                                advantage
                            {% elif team1[stat] < team2[stat] %}
                                disadvantage
                            {% else %}
                                neutral
                            {% endif %}
                        ">
                            <p class="stat_text">{{ team1[stat] }}</p>
                        </td>
                        <td class="stat_block_team_comparison"><h4>{{ stat.replace('_', ' ').title() }}</h4></td>
                        <td class="stat_block_team_comparison 
                            {% if team2[stat] > team1[stat] %}
                                advantage
                            {% elif team2[stat] < team1[stat] %}
                                disadvantage
                            {% else %}
                                neutral
                            {% endif %}
                        ">
                        <p class="stat_text">{{ team2[stat] }}</p>
                        </td>
                    </tr>
                {% endfor %}
        
                {# Negative Stats Comparison #}
                {% for stat in negative_stats %}
                    <tr>
                        <td class="stat_block_team_comparison 
                            {% if team1[stat] < team2[stat] %}
                                advantage
                            {% elif team1[stat] > team2[stat] %}
                                disadvantage
                            {% else %}
                                neutral
                            {% endif %}
                        ">
                        <p class="stat_text">{{ team1[stat] }}</p>
                        </td>
                        <td class="stat_block_team_comparison"><h4>{{ stat.replace('_', ' ').title() }}</h4></td>
                        <td class="stat_block_team_comparison 
                            {% if team2[stat] < team1[stat] %}
                                advantage
                            {% elif team2[stat] > team1[stat] %}
                                disadvantage
                            {% else %}
                                neutral
                            {% endif %}
                        ">
                        <p class="stat_text">{{ team2[stat] }}</p>
                        </td>
                    </tr>
                {% endfor %}
        
                {# Neutral Stats #}
                {% for stat in neutral_stats %}
                    <tr>
                        <td class="stat_block_team_comparison neutral">
                            <p class="stat_text">{{ team1[stat] }}</p>
                        </td>
                        <td class="stat_block_team_comparison"><h4>{{ stat.replace('_', ' ').title() }}</h4></td>
                        <td class="stat_block_team_comparison neutral">
                            <p class="stat_text">{{ team2[stat] }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    



{% endblock %}