{% extends 'base.html' %}

{% block content %}
<section class="report_outer_container">
    <section class="report">
        <section class="report_header">
            <img class="team_logo" src="{{ url_for('static', filename='img/' + team_xgoals_data['team_abbreviation'] + '.png') }}">
        </section>
        <p>Wins: {{ team_record['wins'] }}</p>
        <p>Losses: {{ team_record['losses'] }}</p>
        <p>Draws: {{ team_record['draws'] }}</p>

        {% for game in five_recent_games %}
            <div class="result-row">
                <img class="icon" src="{{ url_for('static', filename='img/' + game.result + '.png') }}" alt="{{ game.result }}">
            </div>
        {% endfor %}

        <h2>Previous Matches</h2>
        <table>
            <thead>
                <tr>
                    <th>Date (EST)</th>
                    <th>Home Game</th>
                    <th>Result</th>
                    <th>Opponent</th>
                    <th>Short Name</th>
                    <th>Abbreviation</th>
                    <th>Goals Scored</th>
                    <th>Goals Against</th>
                </tr>
            </thead>
            <tbody>
                {% for game in game_results %}
                <tr>
                    <td>{{ game.date_time_est }}</td>
                    <td>{{ game.home_game }}</td>
                    <td>{{ game.result }}</td>
                    <td>{{ game.opponent_name }}</td>
                    <td>{{ game.opponent_short_name }}</td>
                    <td>{{ game.opponent_abbreviation }}</td>
                    <td>{{ game.goals_scored }}</td>
                    <td>{{ game.goals_against }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




    <div id="strength_donut"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const fig = {{ strength_fig_json|safe }};
        const config = {{ strength_config|tojson }};
        Plotly.newPlot('strength_donut', fig.data, fig.layout, config);
    </script>


    </section>
</section>
{% endblock %}